body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

h1, h3 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
    vertical-align: middle;
}

th {
    background-color: #e9ecef;
}
